@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --bg-color: #34af23;
    --btn-primary-color: #239a13;
    background-color:rgb(213, 213, 213);
    font-family: "Roboto";
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--bg-color);
    color: white;
    height: 7vh;
}

main section {
    width: 100%;    
    padding: 15px;
}

main section  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

main section .form {
    display: flex;
    margin: 1.7rem 0;
}

main section .form input[type="text"] {
    height: 40px;
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

main section .form button {
    margin-left: 0.5rem;
    border: none;
    width: 100px;
    background-color: var(--btn-primary-color);
    color: white;
    font-weight: bold;
    border-radius: 8px;

}

.fa-whatsapp-square {
    font-size: 48px;
    color: var(--bg-color);
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
}

.cards li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 15px 15px;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    background-color: white
}

.cards li:hover {
    -webkit-box-shadow: 6px 6px 7px 0px #00000080; 
    box-shadow: 6px 6px 7px 0px #00000080; 
    transform: scale(1.1);
    transition: all 0.6s;
}

.cards li:not(:hover){
    transform: scale(1.0);
    transition: all 0.6s;
}

.close {
    display: none;
    background-color: red;
    color: white;
    border: none;
    border-radius: 12px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -8px;
    left: -6px;
}

.close:hover {
    transform: scale(1.2);
    border: 2px solid black;
    transition: all 1.2s;

}

.close:not(:hover) {
    transform: scale(1.0);
    transition: all 0.6s

}

@media (max-width: 899px) {
    .cards li {
        width: 30%;
        margin: 10px;
        padding: 15px;
        background-color: white
    }
}

@media (max-width: 760px) {
    header .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .container {
        width: 100%;
    }

    main .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    main section .form input[type="text"] {
        height: 80px;
        width: 80%;
        padding: 10px;
        
    }
    
    main section .form button {
        width: 80%;
        padding: 10px;
        height: 40px;
        margin: 10px 0 0 0;
    }

    .cards li {
        width: 80%;
        margin: 10px auto;
        padding: 15px;
    }
}
    
@media (max-width: 480px) {
    header .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .container {
        width: 100%;
    }

    main .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    main section .form input[type="text"] {
        height: 80px;
        width: 80%;
        padding: 10px;
        
    }
    
    main section .form button {
        width: 80%;
        padding: 10px;
        height: 40px;
        margin: 10px 0 0 0;
    }

    .cards li {
        width: 80%;
        margin: 10px auto;
        padding: 15px;
    }

    .cards .close {
        display: block;
    }
}